*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 3rem;
}

#gallery{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 50px;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 15px;
    margin-bottom: 50px;
}

.card{
    width: 32%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px  #333;
    
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px yellow);
    transition: 1s;
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background-color:  rgba(206, 8, 190, 0.3);
    transition: 1s;
    
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
    
}

.card:hover img{
    filter: grayscale(0);
}

@media screen and (max-width : 1000px){

    .card{
        width: 45%;
    }

    #gallery{
        padding: 0;
    }
    
}

@media screen and (max-width : 650px){

    .card{
        width: 65%;
        margin-bottom: 30px;
    }
}



